﻿.button {
    background: none;
    color: #c06e52;
    border: 1px solid #c06e52;
    float: right;
}

.button:hover {
    background: #c06e52;
    border-color: #c06e52;
}

.button:active {
    background-color: #140e0f !important;
    color: #c06e52;
    border-color: #c06e52;
}

.newList {
    background: #c06e52;
    border-color: #c06e52;
    color: whitesmoke;
}

.newList:hover {
    background: none;
    color: #c06e52 !important;
    border: 1px solid #c06e52;
    float: right;
}

.delete {
    background-color: #fb3640;
    border-color: #fb3640;
}

.delete:hover {
    background-color: white;
    color: #fb3640;
    border-color: #fb3640;
}