﻿.list {
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
    margin-bottom: 1em;
}

.listItem {
    font-family: Montserrat, sans-serif;
    border-color: #fcdfa6 !important;
    background-color: #fbf2c0;
    color: #140e0f !important;
}

.listItem:first-child {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: large;
    background-color: #fcdfa6 !important;
    #color: #140e0f !important;
}