﻿.checkMark, .form-check-input {
    border-radius: 2px !important;
    margin: 0;
}

.input {
    border: none;
    border-radius: 0;
    background: none;
    text-decoration: underline;
    #border-bottom: 1px solid #3a4f41;
}